<div class="dashboard-wrapper">
  
  <header class="dashboard-header">
    <div>
      <h2>Mi Casa Inteligente</h2>
      <p>Panel de control de dispositivos</p>
    </div>
    <button (click)="cerrarSesion()" class="btn-logout">
      Cerrar sesión 🚪
    </button>
  </header>

  <div *ngIf="successMessage" class="alert-success">
    {{ successMessage }}
  </div>

  <div class="panel-agregar">
    <h3>+ Añadir Nuevo Dispositivo</h3>
    <div class="form-row">
      <input type="text" [(ngModel)]="nuevoDispositivo.nombre" placeholder="Nombre (Ej: Lámpara)">
      <select [(ngModel)]="nuevoDispositivo.tipo">
        <option value="Iluminación">Iluminación 💡</option>
        <option value="Seguridad">Seguridad 🔒</option>
        <option value="Climatización">Climatización ❄️</option>
        <option value="Entretenimiento">Entretenimiento 📺</option>
      </select>
      <input type="text" [(ngModel)]="nuevoDispositivo.ubicacion" placeholder="Ubicación (Ej: Sala)">
      <button (click)="agregarDispositivo()" class="btn-guardar">Guardar</button>
    </div>
  </div>

  <div class="device-grid">
    <div class="device-card" *ngFor="let d of dispositivos" [class.is-active]="d.estado === 'Activo'">
      
      <button (click)="eliminarDispositivo(d.idDispositivo)" class="btn-delete-icon">
        🗑️
      </button>

      <div class="device-info">
        <div class="device-icon">
          {{ d.estado === 'Activo' ? '✨' : '💤' }}
        </div>
        <div class="device-details">
          <h3>{{ d.nombre }}</h3>
          <p>{{ d.ubicacion }} • {{ d.tipo }}</p>
        </div>
      </div>

      <div class="device-action">
        <span class="status-badge">{{ d.estado }}</span>
        <button (click)="cambiarEstado(d)" 
                class="btn-toggle"
                [ngClass]="d.estado === 'Activo' ? 'btn-off' : 'btn-on'">
          {{ d.estado === 'Activo' ? 'Apagar' : 'Encender' }}
        </button>
      </div>
    </div>
  </div>
</div>